body {
    background-color: black;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* This is for button properties */
button {
    margin: 5px;
    padding: 20px;
    border: 2px solid black;
    border-radius: 30px;
    font-size: 30px;
}

/* The single container inside the body (this contains all the elements of calculator) */
.container {
    margin: 10px;
    padding: 20px;
    border: 2px solid black;
    border-radius: 30px;
    box-sizing: border-box;
    background-color: grey;
}

/* This is for screen which will display the number clicked and the result displayed */
.screen {
    box-sizing: border-box;
    border: 2px solid white;
    border-radius: 15px;
    padding: 15px;
    margin: 15px;
    margin-bottom: 25px;
    background-color: white;
    text-align: right;
    font-size: 30px;
    width: 287px;
    height: 116px;
}

/* This if for keypad which contains left=numbers and right=operators */
.keypad {
    display: flex;
    gap: 20px;
}

/* This is for left part of keypad which contains all the numbers */
.left {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

/* This is for the right part of keypad which contains all the operations */
.right {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}